<ion-view view-title='<img class = "header-logo" src = "../img/tally-logo-white.png"></img><h4 class = header-title>Collection1<h3>'>

	 <ion-nav-buttons side="secondary">
      <button class="button" ng-click="reload()">
        Reload
      </button>
    </ion-nav-buttons>
    
      <ion-header-bar ng-show="showHeaderBar" class="bar-subheader bar-positive">
        <div class="buttons">
          <button class="button button-icon icon ion-ios-minus-outline"
            ng-click="data.showDelete = !data.showDelete; data.showReorder = false;
                      shouldShowDelete = !shouldShowDelete; shouldShowReorder = false;"></button>
        </div>
        <h1 class="title">My Collection</h1>
        <div class="buttons">
          <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder;
                                          shouldShowDelete = false; shouldShowReorder = !shouldShowReorder;">
              Reorder
          </button>
        </div>
      </ion-header-bar>

      <ion-content class="has-header has-subheader">
      <ion-list 
                show-delete="shouldShowDelete"
                show-reorder="shouldShowReorder"
                can-swipe="listCanSwipe">
        <ion-item ng-repeat="item in items"
                  class="item-thumbnail-top"
                  href="#/app/collection/{{collectionId}}/{{item.id}}"
                  class="item item-thumbnail-top">

          <img ng-src="{{ item.image.original.url }}">
          <h2>{{ item.note }}</h2>
          <ion-option-button class="button-positive" ng-click="share(item)">
            Share
          </ion-option-button>
          <ion-option-button class="button-info" ng-click="edit(item)">
            Edit
          </ion-option-button>
          <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
          </ion-delete-button>
          <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
          </ion-reorder-button>
        </ion-item>
      </ion-list>


    <button class="button button-full button-positive" ng-click="import()">
    		import a board
  	</button>

    </ion-content>
</ion-view>
