<ion-view view-title='<img class = "header-logo" src = "../img/tally-logo-white.png"></img><h4 class = header-title>&nbsp{{ collection.name }}<h3>'>

	 <ion-nav-buttons side="secondary">
      <button class="button" ng-click="showCollectionEdit()">
        Edit
      </button>
      <button class="button" ng-click="reload()">
        Reload
      </button>
    </ion-nav-buttons>

      <ion-header-bar ng-show="showHeaderBar" class="bar-subheader bar-positive">
        <h1 class="title">${{ totalPrice }}</h1>
      </ion-header-bar>

      <ion-content id = "collection-items" scroll = "true" data-tap-disabled = "false" class="has-header has-subheader">
        <ion-item ng-repeat="item in items" 
                  class="item-thumbnail-top draggable drag-drop">
          <a href="#/app/collection/{{collectionId}}/{{item.id}}">
            <img ng-src="{{ item.image.original.url }}">
          </a>
          <div class = "price-tag">
            <h2 class = "price">${{ item.price }}</h2>
            <ion-toggle class="price-slider" toggle-class="toggle-calm" ng-model="item.toggle" ng-checked="item.toggle" ng-click="calculateSum()">Tally</ion-toggle> 
          </div>
        </ion-item>



    <button class="button button-full button-positive" ng-click="import()">
    		import a board
  	</button>
    </ion-content>
</ion-view>
