<ion-view view-title="Collections">
	<ion-nav-buttons side="secondary">
	  <button class="button" ng-click="login()">
	    Login
	  </button>
	  <button class="button" ng-click="import()">
			Add
		</button>
	</ion-nav-buttons>
  <ion-content>
  <div class="row">
  	<!---<div class="col col-25 col-offset-75">
		<button class="button button-calm icon-left ion-plus-round" ng-click="addCollectionFromPinterest()">
			Add
		</button>
	</div> -->
	</div>
	<div class="row">
  	<div class="col text-center">
    	<h2>My Collections</h2>

	</div>
	</div>

	<div class="row">
		<div class="col">
			<hr>
		</div>
	</div>

	<div class="row">
    <div class="col list">
    	<a ng-repeat="(key, value) in collections" class="item item-thumbnail-col"  href="#/app/collection/{{value.name}}">
    		<h4>{{ value.name }}</h4>
    		<img class="center" ng-src="{{ value.image['60x60'].url }}">
    		<!-- <button class="button button-small button-full button-outline button-stable" ng-click="viewCollection(value.name)"> -->
    		<button class="button button-small button-full button-outline button-stable">
    			View
    		</button>
    	</a>
    </div>
	</div>
  </ion-content>
</ion-view>
